/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.navbar-header {
  max-width: 1000px;
  margin: 0 auto;
}

.nav-link {
  text-align: right;
}

.forgot-passward {
  font-size: 11px;
  margin-top: 0.5rem;
  // display: inline-block;
}

.nav-login {
  // padding: 0.5em 1em;
  // margin: 2em 0;
  margin: -1px 10px;
  font-weight: normal;
  color: #6091d3;
  background: #FFF;
  border: solid 1px #6091d3;
  border-radius: 30px;
}

.nav-new {
  // padding: 0.5em 1em;
  // margin: 2em 0;
  margin: -1px 10px;
  font-weight: normal;
  color: #6091d3;
  background: #FFF;
  border: solid 1px #6091d3;
  border-radius: 30px;
}

.text-brown {
  opacity: 0.6;
}

.nav-account {
  // padding: 0.5em 1em;
  // margin: 2em 0;
  margin: -1px 10px;
  font-weight: normal;
  color: #6091d3;
  background: #FFF;
  border: solid 1px #6091d3;
  border-radius: 30px;
}